html {
	font-size: 62.5%;
}

@font-face {
  font-family: Zilla Slab Highlight;
  src: url(ZillaSlabHighlight-Regular.ttf);
  font-family: Zilla Slab;
  src: url(ZillaSlab-Medium.ttf);
  font-family: JosefinSans;
  src: url(JosefinSans-regular.ttf);
}

body {
	background-image: url("Wattakozhumbe.jpg");	
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
	}

p,li {
	font-family: Arial;
	font-size: 1.5rem;
}

h1,h2,h3 {
	font-family: Zilla Slab Highlight;
}

h4,h5,h6 {
	font-family: Zilla Slab;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.4rem;}


.pretty-links a,a:visited,a:active {
	font-family: Zilla Slab;
	text-transform: capitalize;
	color: #232323;
	text-decoration-line: none;
	box-shadow: inset 0 -.3rem 0 -1px #ffd204;
	transition: box-shadow .15s ease-in-out 0s;
}
.pretty-links a:hover {
	box-shadow: inset 0 -1.7rem 0 -1px #ffd204;
}

nav.flex {
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row;
	position: sticky;
	top:0;
	height: 10vh;
	background-color: white;
	opacity: 90%;
	border-radius: 4px;
	align-items: center;
	padding: 1% 0;
}
@media only screen and (max-width: 600px) {
	
	nav.flex {
		height: auto;
		flex-wrap: wrap;
		flex-flow: column;
		}
}

nav.flex > div {
	margin: .5%;
	line-height: 40px;
	flex-grow: 0;
	flex-shrink: 1;
	font-size: 20px;
}


main.flexed {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.logo {
	max-height: 4rem;
	flex-grow: 1;
	margin: 0 1rem;
}

.flexed > div {
	background-color: white;
	opacity: 70%;
	border-radius: 4px;
	padding: 0 5%;
	max-width: 70%;
}

div.back2top {
	width: 1.4rem;
	height: 1.8rem;
	background-color: white;
	opacity: 90%;
	border-radius: 4px 4px 0 0;
	position: fixed;
	bottom: 0;
	right: 10%;
	padding: .4rem .7rem 1.2rem .7rem;
}	


div.active {
	background-color: transparent;
	padding-top: 3rem;
	bottom: -.6rem;
	transition: bottom 1s ease-in-out;
}

div.active:hover {
	bottom: 0rem;
}

div.center {
	margin: 5% 15%;
	padding: 1% 5%;
	background-color: white;
	opacity: 50%;
	border-radius: 4px;
}
div.text {
	opacity: 100%;
	color: #000;
}
section {margin: 0 0 4rem 0;}