html {
	font-size: 62.5%;
	overflow-x: hidden;
}

@font-face {
  font-family: Zilla Slab Highlight;
  src: url(ZillaSlabHighlight-Regular.ttf);
  font-family: Zilla Slab;
  src: url(ZillaSlab-Medium.ttf);
  font-family: JosefinSans;
  src: url(JosefinSans-regular.ttf);
}

body {
	margin: 0;
	background-image: url("Wattakozhumbe.jpg");	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	}

p,li,td {
	font-family: Arial;
	font-size: 1.5rem;
}

h1,h2,h3 {
	font-family: Zilla Slab Highlight;
}

h4,h5,h6 {
	font-family: Zilla Slab;
}
h5, h6 {
	margin: 0;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.4rem;}

/* rebuilt from outside.com - slightly altered to fit the purpose*/ 
.pretty a,a:visited,a:active {
	font-family: Zilla Slab;
	text-transform: capitalize;
	color: #232323;
	text-decoration-line: none;
	box-shadow: inset 0 -.3rem 0 -1px #ffd204;
	transition: box-shadow .15s ease-in-out 0s;
}
.pretty a:hover {
	box-shadow: inset 0 -1.7rem 0 -1px #ffd204;
}


nav.flex {
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	position: sticky;
	top: 0;
	height: 10vh;
	width: 100vw;
	border-radius: 4px;
	align-items: center;
	padding: 1%;
	background-color: white;
	opacity: 90%;
	align-items: center;
}

nav.flex > div,img {
	padding: .5%;
	line-height: 40px;
	flex:;
	font-size: 20px;
	/*border: 2px solid red;*/
	/*height: 100%;*/
	max-height: 10vh;
	white-space: nowrap;

}

.boxed {
	display: flex;
	flex-flow: column;
	width: 100vw;
	margin: 0;
	align-items: center;
	/*border: 2px solid blue;*/
}

.logo {
	margin: 0 1rem;
	max-width: calc(10vh * 2.04);
}

.box {
	background-color: white;
	opacity: 70%;
	border-radius: 4px;
	margin: 2% 0;
	padding: 3% 5%;
	width: 60%;
	/*border: 2px solid green;*/

}
blockquote {
	font-size: 3rem;
	font-family: JosefinSans;
	box-shadow: inset .8rem 0 #ffd204;
}

/*blockquote::before {
	content: "";
	font-size: 3rem;
	margin-left: -/*3rem;
 	border-left: 6px solid lightblue;
} */

div.active {
	background-color: transparent;
	padding-top: 3rem;
	bottom: -.6rem;
	transition: bottom 1s ease-in-out;
}

div.active:hover {
	bottom: 0rem;
}

.equal {
	width: 100%;
}
.equal td {
	padding: .2rem .1rem;
	width: 50%;
	vertical-align: top;
	font-family: Arial;

}
.equal th {
	padding: .2rem .1rem;
	font-size: 1.8rem;
	text-align: left;
	font-family: Zilla Slab;
}
section {margin: 0 0 4rem 0;}

div.back2top {
	width: 1.4rem;
	height: 1.8rem;
	background-color: white;
	opacity: 70%;
	border-radius: 4px 4px 0 0;
	position: fixed;
	bottom: 0;
	right: 10%;
	padding: .4rem .7rem 1.2rem .7rem;
	z-index: 1;
}

/*footer {
	border: 3px solid green;
	position: fixed;
	bottom: 0;
	width: 60%;
}*/

header.box {
	margin: 30vh 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
	opacity: 100%;
}
span {box-shadow: inset 0 -1.7rem 0 -1px #ffd204}

.larger {
	font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
	
	nav.flex {
		width: auto;
		height: auto;
		flex-wrap: wrap;
		flex-flow: column;
		align-content: flex-start;

		}
	.logo {
		width: 100vw;
		height: calc(50vw / 2.04);
	}

}